:root {
  --safe-top: env(safe-area-inset-top);
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url(assets/fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: 'Nunito-Extra-Bold';
  src: url(assets/fonts/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: 'Nunito-Black';
  src: url(assets/fonts/Nunito-Black.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  background-color: #150f0c;
  font-family: 'Nunito-Bold';
  color: #ffffff;
    -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */

}

p,h1,h2,h3 {
  padding: 0!important;
  margin-top: 0!important;
}

#root {
    margin: 0 auto;
    width: 100vw;
    padding: 40px;
    height: auto;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





h1 {
  font-size: 28px;
  font-family: 'Nunito-Black';

}

h2 {
  font-size: 20px;
  font-family: 'Nunito-Black';

}

p {
  font-size: 16px;
  font-family: 'Nunito-Black';

}

input {
  display: flex;
  width: calc(100% - 40px);
  padding: 10px 20px!important;
  font-family: 'Nunito-Bold';
  border: none;
  margin-bottom: 20px;;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  display: block;
  background: transparent
}


/* <remove_browser_behaviour> */
input,
textarea,
select,
button {
  color: #fff;
  font-size: 18px; /* prevents Safari zoom */
  text-align: center;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* </remove_browser_behaviour> */

.logo {
  width: 60vw;
  height: 10vh;
  display: block;
  background: url("assets/images/roomies_logo.png") no-repeat center center;
  background-size: contain;
  margin-bottom: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: #1e1713;
  transform: translate(0, 0);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.main-button {
  cursor: pointer;
  display: flex;
  padding: 10px;
  width: calc(100% - 20px);
  border: 2px solid #ff773d;
  background-color: #f26223;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  font-family: 'Nunito-Black';
}

.main-button:hover {
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid #1f0f08;
}

.header {
  position: absolute;
  top: var(--safe-top);
  left: 0;
  right: 0;
  height: 60px;
}

.margin-left-auto {
  margin-left: auto;
}

.icon-button {
  width: 40px;
  height: 40px;
  /* border: 1px solid var(--border);
  background-color: var(--icon-button-background); */
  border-radius:  8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
}

.relative {
  position: relative;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.mt-20 {
  margin-top: 20px!important;
}

.ml-20 {
  margin-left: 20px!important;
}
.mr-20 {
  margin-right: 20px!important;
}
