@font-face {
  font-family: 'SingleDay';
  src: url(assets/fonts/SingleDay-Regular.ttf);
}

@keyframes skewit {
  0% {
    transform: skew(0,0);
  }

  50% {
    transform: skew(1deg, 1deg);
  }

  100% {
    transform: skew(0,0);
  }
}

.dannegru {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000!important;
  font-family: "SingleDay"!important;
}


.dannegru h1 {
  font-size: 48px;
  font-family: "SingleDay"!important;

}

.dannegru h2 {
  font-size: 26px;
  font-family: "SingleDay"!important;
}

.dannegru p {
  font-size: 24px;
  font-family: "SingleDay"!important;

}

.dannegru input {
  display: flex;
  padding: 10px;
  box-shadow: none;
  border: 3 px solid #d8d8d8;
  background: transparent
}


/* <remove_browser_behaviour> */
.dannegru input,
.dannegru textarea,
.dannegru select,
.dannegru button {
    color: #000;
  font-family: 'SingleDay';
  font-size: 24px; /* prevents Safari zoom */
  text-align: center;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* </remove_browser_behaviour> */


.dannegru .card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: calc(100vw - 100px);
}

.dannegru .card .button {
  width: calc(100% - 20px);
}

.dannegru .button {
  cursor: pointer;
  display: flex;
  padding: 10px;
  width: calc(100% - 60px);
  font-size: 32px;
  justify-content: center;
}

.dannegru .button:hover {
  transform: scale(1.2);
}
.dannegru .read-the-docs {
  color: #888;
}
